@charset "UTF-8";
/* CSS Document */

@font-face {
	font-family: "AvenirNextCondensedMedium";
	/*src: url('../fonts/avenir_next_med_cn.eot?#iefix') format('embedded-opentype'), url(../fonts/avenir_next_med_cn.otf);*/
	/*src: url('../fonts/avenir-next-condensed.eot?#iefix') format('embedded-opentype'), url(../fonts/avenir-next-condensed.otf);*/
	/*src: url('../fonts/AvenirNextLTPro-MediumCn.eot?#iefix') format('embedded-opentype'), url(../fonts/AvenirNextLTPro-MediumCn.otf);*/
	src: url('../fonts/avenir-medium-condensed.woff') format('woff'), 
		url('../fonts/avenir-medium-condensed.eot?#iefix') format('embedded-opentype'), 
		url(../fonts/avenir-medium-condensed.otf);
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "AvenirHeavy";
	src: url('../fonts/avenir_85_heavy.eot?#iefix') format('embedded-opentype'), url(../fonts/avenir_85_heavy.otf);
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "AvenirNextDemiBold";
	src: url('../fonts/avenir_next_demi.woff') format('woff'), 
		url('../fonts/avenir_next_demi.eot?#iefix') format('embedded-opentype'), 
		url(../fonts/avenir_next_demi.otf);
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "AvenirNextMedium";
	src: url('../fonts/avenir_next_regular.woff') format('woff'), 
		url('../fonts/avenir_next_regular?#iefix') format('embedded-opentype'), 
		url(../fonts/avenir_next_regular.otf);
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "AvenirNextBold";
	src: url('../fonts/avenir_next_bold.woff') format('woff'), 
		url('../fonts/avenir_next_bold?#iefix') format('embedded-opentype'), 
		url(../fonts/avenir_next_bold.otf);
	font-weight: normal;
	font-style: normal;
}



body {
	margin: 0;
	padding: 0;
}

.nobreak {
	white-space: nowrap;
}

#container {
	width: 100%;
}


#content {
	width: 1000px;
	margin: 0 auto;
	background-color: #f5f5f5;
}

h1 {
	font-family: "AvenirNextBold";
	font-weight: normal;
	font-size: 28px;
	margin: 0;
	margin-bottom: 35px;
	color: #2a2b2c;
}

	div.main h1 {
		font-size: 32px;
		text-align: center;
		margin: 10px 0 25px;
	}
	div.main hr {
		border-top: 0;
		border-bottom: 1px solid #2a2b2c;
		width: 100px;
	}
	div.main hr.no-subheader {
		margin-bottom: 50px;
	}

h3 {
	font-family: "AvenirNextDemiBold";
	font-weight: normal;
	font-size: 24px;
	margin: 0;
}

h4 {
	font-family: "AvenirNextMedium";
	font-weight: normal;
	font-size: 29px;
	margin: 0;
}
	h4 a {
		color: #2a2b2c;
		text-decoration: none;
	}
	div.cta h4 {
		padding-left: 80px;
	}
	div.cta {
		margin-left: 50px;
	}
	div.cta.consequences {
		background-image: url(../img/icons/hcp.png);
		background-position: left center;
		background-repeat: no-repeat;
	}


h5 {
	font-family: "AvenirNextDemiBold";
	font-weight: normal;
	font-size: 18px;
	margin: 0;
	text-decoration: underline;
	text-transform: uppercase;
}

h6 {
	font-family: "AvenirNextDemiBold";
	font-weight: normal;
	font-size: 18px;
	margin: 0;
}



nav {
	text-align: right;
	height: 14px;
	padding: 33px 25px;
	background-color: rgba(18, 19, 23, 0.9);
	background-image: url(../img/logos/leave-acne-behind.png);
	background-size: 103px 56px;
	background-position: 40px 13px;
	background-repeat: no-repeat;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
nav ul li {
	font-family: "AvenirNextCondensedMedium";
	color: #dbe7ef;
	display: inline-block;
	text-transform: uppercase;
	font-size: 16px;
	margin-right: 25px;
	margin-top: 0;
}
	nav ul li.less-right {
		margin-right: 10px;
	}
nav ul li a {
	color: #dbe7ef;
	text-decoration: none;
}
	nav ul li a.active {
		color: #31b8e4;
	}
nav ul img {
	margin-right: 15px;
}

p a {
	color: #31b8e4;
	text-decoration: none;
}


ol {
	
}

ol li {
	font-family: "AvenirNextDemiBold";
	font-weight: normal;
	font-size: 22px;
	margin-bottom: 5px;
}

ol p {
	margin: 0 0 25px -23px;
}

#home-link {
	display: inline-block;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 190px;
	height: 80px;
}

a.button {
	display: inline-block;
	font-family: "AvenirNextMedium";
	color: #ffffff;
	font-size: 16px;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	padding: 15px 30px;
	min-width: 100px;
	cursor: pointer;
}

a.button.green {
	background-color: #00a651;
}
a.button.blue {
	background-color: #31b8e4;
}
a.button.grey {
	background-color: #666666;
}
	div.callouts a.button {
		background-color: #2a2b2c;
		margin: 20px;
		font-size: 14px;
		padding: 10px 15px 7px;
		color: #c4fcdf;
	}


blockquote {
	font-family: "AvenirNextMedium";
	color: #2a2b2c;
	font-size: 39px;
	margin: 50px 100px;
	line-height: 48px;
	position: relative;
}
	blockquote span.blue {
		font-family: "AvenirNextBold";
		color: #31b8e4;
		font-size: 64px;
	}
	blockquote:before {
		content: " ";
		width: 32px;
		height: 28px;
		background-image: url(../img/icons/start-quote.png);
		background-repeat: no-repeat;
		display: block;
		position: absolute;
		top: -6px;
		left: -45px;
	}
	blockquote:after {
		content: " ";
		width: 32px;
		height: 28px;
		background-image: url(../img/icons/end-quote.png);
		background-repeat: no-repeat;
		display: block;
		position: absolute;
		bottom: 30px;
		right: -5px;
	}

header {
	position: relative;
}

header.home {
	background-image: url(../img/backgrounds/home-woman.jpg);
	width: 1000px;
	height: 600px;
}

header.consequences {
	background-image: url(../img/backgrounds/consequences.jpg);
	width: 1000px;
	height: 470px;	
}
	div.sub-header.consequences {
		background-image: url(../img/backgrounds/green-hood.jpg);
		width: 1000px;
		height: 300px;	
	}

header.understanding {
	background-image: url(../img/backgrounds/understanding.jpg);
	width: 1000px;
	height: 470px;	
}
	div.sub-header.understanding {
		background-image: url(../img/backgrounds/turtleneck.jpg);
		width: 1000px;
		height: 300px;	
	}
	div.sub-header.understanding2 {
		background-image: url(../img/backgrounds/types-of-acne.jpg);
		width: 1000px;
		height: 300px;	
	}


header.options {
	background-image: url(../img/backgrounds/treatment-options.jpg);
	width: 1000px;
	height: 470px;	
}

	div.sub-header.options {
		background-image: url(../img/backgrounds/about-isotretinoin.jpg);
		width: 1000px;
		height: 300px;	
	}

header.faq {
	background-image: url(../img/backgrounds/faq.jpg);
	width: 1000px;
	height: 470px;	
}

div.sub-header {
	position: relative;
}

div.home-cta {
	float: right; 
	width: 375px;
	margin: 45px 35px;
}
	div.home-cta h1 {
		font-family: "AvenirNextDemiBold";
		font-weight: normal;
		font-size: 34px;
		margin: 20px 0 10px 0;
	}
	div.home-cta h2 {
		font-family: "AvenirNextDemiBold";
		font-weight: normal;
		font-size: 19px;
		margin: 0 0 30px 0;
	}

div#home-signup {
	padding: 55px;
	text-align: center;
}
	div#home-signup h3 {
		font-family: "AvenirNextDemiBold";
		font-weight: normal;
		font-size: 26px;
		margin: 0;
		color: #31b8e4;
	}

div.black-bar {
	width: 555px;
	height: 197px;
	background-color: rgba(24, 24, 26, 0.5);
	position: absolute;
}
	div.black-bar p {
		font-family: "AvenirHeavy";
		color: #f0f0f0;
		font-size: 44px;
		position: absolute;
	}
		header.consequences div.black-bar {
			top: 180px;
		}
		header.consequences div.black-bar p.line1 {
			top: 13px;
			left: 60px;
		}
		header.consequences div.black-bar p.blue {
			color: #31b8e4;
			font-size: 119px;
			top: 62px;
			left: 195px;
			opacity: 0.8;
		}
		header.consequences div.black-bar p.line3 {
			top: 125px;
			left: 305px;
		}

		div.sub-header.consequences div.black-bar {
			top: 90px;
			height: 165px;
			width: 600px;
		}
			div.sub-header.consequences div.black-bar p {
				font-size: 34px;
			}
				div.sub-header.consequences div.black-bar p.line1 {
					top: 10px;
					left: 55px;
				}
				div.sub-header.consequences div.black-bar p.blue {
					color: #31b8e4;
					font-size: 64px;
					top: 57px;
					left: 113px;
					opacity: 0.8;
				}
				div.sub-header.consequences div.black-bar p.line3 {
					top: 105px;
					left: 415px;
				}



		header.understanding div.black-bar {
			top: 220px;
			width: 610px;
		}
		header.understanding div.black-bar p.line1 {
			top: 33px;
			left: 55px;
		}
		header.understanding div.black-bar p.line2 {
			top: 88px;
			left: 115px;
		}
		header.understanding div.black-bar p.blue {
			color: #31b8e4;
			font-size: 119px;
			top: 85px;
			left: 250px;
			opacity: 0.8;
		}
		
		div.sub-header.understanding div.black-bar {
			top: 75px;
			height: 120px;
			width: 350px;
		}
			div.sub-header.understanding div.black-bar p.line1 {
				font-size: 34px;
				top: 10px;
				left: 51px;
			}
			div.sub-header.understanding div.black-bar p.blue {
				color: #31b8e4;
				font-size: 64px;
				top: 47px;
				left: 158px;
				opacity: 0.8;
			}
			div.sub-header.understanding p.desc {
				font-size: 20px;
				line-height: 32px;
				color: #ffffff;
				top: 200px;
				left: 30px;
				position: absolute;
			}
			
		div.sub-header.understanding2 div.black-bar {
			top: 135px;
			height: 120px;
			width: 375px;
		}
			div.sub-header.understanding2 div.black-bar p.line1 {
				font-size: 34px;
				top: 7px;
				left: 47px;
			}
			div.sub-header.understanding2 div.black-bar p.blue {
				color: #31b8e4;
				font-size: 64px;
				top: 45px;
				left: 180px;
				opacity: 0.8;
			}

		
		header.options div.black-bar {
			top: 240px;
			width: 615px;
			height: 185px;
		}
		header.options div.black-bar p.line1 {
			top: 25px;
			left: 47px;
		}
		header.options div.black-bar p.blue {
			color: #31b8e4;
			font-size: 119px;
			top: 80px;
			left: 295px;
			opacity: 0.8;
		}
		
		
		div.sub-header.options div.black-bar {
			top: 90px;
			height: 170px;
			width: 530px;
		}
			div.sub-header.options div.black-bar p {
				font-size: 34px;
				top: 5px;
				left: 51px;
				line-height: 44px;
			}
			div.sub-header.options div.black-bar p.blue {
				color: #31b8e4;
				font-size: 64px;
				top: 87px;
				left: 337px;
				opacity: 0.8;
			}
			
		header.faq div.black-bar {
			top: 230px;
			width: 915px;
			height: 195px;
		}
		header.faq div.black-bar p.line1 {
			top: 30px;
			left: 30px;
		}
		header.faq div.black-bar p.blue {
			color: #31b8e4;
			font-size: 115px;
			top: 83px;
			left: 50px;
			opacity: 0.8;
		}
	



div.main {
	padding: 65px 75px;
}

	
	
p, li {
	font-family: "AvenirNextMedium";
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
	margin: 15px 0 15px 0;
	color: #2a2b2c;
}

	div.contact p {
		font-size: 18px;
	}
	

	p.subhead {
		text-align: center;
		padding: 15px 120px;
		font-size: 18px;
		line-height: 28px;
	}

	p.footnote {
		text-align: center;
		font-size: 12px;
	}
		p.footnote.pledge {
			text-align: left;
			margin-left: 130px;
		}

	p.top {
		margin-top: 0px;
	}

strong {
	font-family: "AvenirNextDemiBold";
	color: #57585b;
}

span.red {
	color: #ec008c;
}

div.callouts {
	min-height: 270px;
	background-color: #7dd0a5;
}
	div.callouts.sub {
		min-height: 320px;
	}
	div.callouts p {
		margin-bottom: 0;
	}

div.callout {
	float: left;
	text-align: center;
}
	div.callout img {
		margin: 25px 0;
	}
	div.callout h4 {
		font-family: "AvenirNextDemiBold";
		font-weight: normal;
		font-size: 22px;
		margin: 0;
		padding: 0 30px;
		color: #2a2b2c;
	}
	div.callout p {
		padding: 0 30px;
		font-size: 14px;
		line-height: 18px;
	}
	div.callout.three {
		width: 33%;
	}
	div.callout.four {
		width: 25%;
	}


figure {
	margin: 0 50px 25px;
	float: left;
}

figcaption {
	text-align: center;
	font-family: "AvenirNextMedium";
	font-size: 15px;
	margin-top: 6px;
}
	figcaption table {
		width: 100%;
		max-width: 330px;
	}
	figcaption table td {
		padding: 0 10px;
	}

div.fig-description {
	padding-right: 50px;
}
	div.fig-description p {
		font-size: 16px;
		line-height: 26px;
		margin: 15px 0;
	}
		div.fig-description p.top {
			margin-top: 0px;
		}
	div.fig-description ul {
		margin: 0;
		margin-bottom: 15px;
		margin-top: -15px;
		padding: 0 17px;
		display: inline-block;
		width: 40%;
	}
	div.fig-description li {
		font-size: 16px;
		line-height: 26px;
		margin: 0;
	}

div.isi {
	padding: 0 50px;
	margin-bottom: 50px;
}

div#print-list {
	border-top: 1px solid #2a2b2c;
	border-bottom: 1px solid #2a2b2c;
	margin: 30px 0;
}
	div#print-list p {
		font-size: 21px;
		text-align: center;
		padding: 20px 0;
	}

div#resources {
	margin-bottom: 50px;
}
	div#resources p {
		margin: 10px 0;
	}


footer {
	background-color: #1a2026;
	background-image: url(../img/logos/sun-pharma.png);
	background-position: left 25px center;
	background-repeat: no-repeat;
}

footer ul {
	list-style: none;
	margin: 0;
	padding: 40px 135px 0;
}

footer ul li {
	display: inline-block;
	color: #dbe7ef;
	margin-right: 25px;
	font-family: "AvenirNextMedium";
	font-size: 14px;
}

footer ul li a {
	color: #dbe7ef;
	text-decoration: none;
}

div.clearfix {
	width: 100%;
	height: 0px;
	clear: both;
}

div.overlay {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background-color: rgba(0, 0, 0, 0.75);
	
	/*display: flex;*/
	flex-direction: column;
	justify-content: center;
	
	display: none;
}

div.dialog {
	background-color: #ffffff;
	border-radius: 15px;
	padding: 25px;
	margin: 0 auto;
	position: relative;
}

	div.dialog img.close {
		position: absolute;
		top: 10px;
		right: 10px;
		cursor: pointer;
	}

	div#exit div {
		width: 335px;
	}
	
	div#exit div img#logo {
		width: 140px;
		height: auto;
		margin: 15px 0;
	}
	
	div#exit div h6 {
		margin-bottom: 40px;
	}
	div#exit div a.button.grey {
		margin-right: 10px;
	}
	
	
	div#signup div {
		width: 535px;
		padding: 25px 40px;
	}
	div#signup div img#logo {
		width: 160px;
		height: auto;
		margin: 0 auto 15px;
		display: inherit;
	}
	div#signup div h3 {
		font-family: "AvenirNextBold";
		font-size: 22px;
		color: #31b8e4;
		margin-bottom: 10px;
	}
	div#signup div p {
		font-size: 15px;
		line-height: 18px;
		margin-bottom: 10px;
	}
		div#signup div p.terms {
			font-size: 14px;
			line-height: 18px;
			padding-left: 35px;
			text-indent: -35px;
			margin-bottom: 45px;
		}
	
	div#signup a.continue {
		position: absolute;
		bottom: 25px;
		right: 25px;
	}
	div#signup a.cancel {
		position: absolute;
		bottom: 25px;
		right: 205px;
	}
	
	div#signUpThankyou div {
		width: 444px;
		padding: 25px 40px;
	}
	div#signUpThankyou div img#logo {
		width: 160px;
		height: auto;
		margin: 0 auto 15px;
		display: inherit;
	}
	div#signUpThankyou div h3 {
		font-family: "AvenirNextBold";
		font-size: 22px;
		color: #31b8e4;
		margin-bottom: 10px;
		text-align: center;
	}
	div#signUpThankyou a.cancel {
		width: 185px;
		margin: 0 auto;
		display: inherit;
	}
	
	
	input[type=text], input[type=email] {
		font-family: "AvenirNextMedium";
		font-size: 15px;
		padding: 6px 6px 0px 6px;
		width: 220px;
		margin-right: 10px;
	}
	
	input[type=checkbox] {
		position: relative;
		width: 30px;
		height: 17px;
	}
	input[type=checkbox]:after {
		content: " ";
		display:block;
		position: absolute;
		left: 0px;
		top: 0px;
		width: 18px;
		height: 18px;
		background-color: #ffffff;
		border: 1px solid #dcdbdb;
	}
	input[type=checkbox]:checked:after {
		content: " ";
		display:block;
		position: absolute;
		left: 0px;
		top: 0px;
		width: 18px;
		height: 18px;
		background-color: #41bde5;
		background-image: url(../img/icons/checkbox.png);
		background-position: center;
		background-repeat: no-repeat;
		border: 1px solid #dcdbdb;
	}